/* =========================================
   TASK 10 - EFFECTS AND HIGHLIGHTING
   ========================================= */

.offer-box {
    background-color: #fff3cd;
    color: #cc0000;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 15px;
    margin: 20px 0;
    border-radius: 8px;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.3);
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {

    from {
        box-shadow: 0 0 8px #ffcc00;
    }

    to {
        box-shadow: 0 0 25px #ff3300;
    }

}